 <section class="public-recipes">
  <h2 class="section_title">Public Recipes</h2>
  <ul class="recipe_items">
    <% @public_recipes.each do |recipe| %>
      <li class="recipe_item">
        <%= render partial:"public_recipes/public_recipe", locals: {recipe: recipe} %>
      </li>
    <% end %>
  </ul>
</section>
