<div class="btn-back">
  <%= link_to "Back to recipes", recipes_path %>
</div>

<div class="add-form-margin">
  <h1>New Recipe</h1>
  <%= render "form", recipe: @recipe %>
</div>

<div class="bg-plate-reversed"></div>