<section class="recipe_section">
  <div class="recipe_container">
    <h1 class="section_title">New Recipe</h1>
    <div class="recipe_form">
      <%= render "form", recipe: @recipe %>
    </div>
    <div class="btn-back">
    <%= link_to "Back to recipes", recipes_path %>
  <div>
</div>
</section>