<p style="color: green"><%= notice %></p>

<div class="add-food-div">
<% if can? :create, Food %>
<%= link_to "Add food", new_food_path, class:'add-food-button' %>
<% end %>
</div>
<div id="foods">
<table class="food-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Measurement unit</th>
      <th>Unit Price</th>
      <th>Actions</th>
    </tr>
   </thead>
   <tbody>
  <% @foods.each do |food| %>
    <%= render food %>
  <% end %>
  </tbody>
  </table>
</div>

