<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<div id="foods">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Measurement unit</th>
      <th>Unit Price</th>
      <th>Actions</th>
    </tr>
   </thead>
   <tbody>
  <% @foods.each do |food| %>
    <%= render food %>
  <% end %>
  </tbody>
  </table>
</div>
<% if can? :create, Food %>
<%= link_to "Add food", new_food_path %>
<% end %>
